:root {
    --bg: #222831;
    --card-bg: #393E46;
    --accent: #E62727;
    --text: #fff;
    --border: #ddd;
    --radius: 12px;
    --transition: 0.3s ease;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 40px 10%;
}

.hidden {
    display: none !important;
}

.loader {
    border: 4px solid var(--bg);
    border-top: 4px solid var(--accent);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin: 16px;
}

.loader-container {
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h1 {
    color: var(--text);
    font-weight: 600;
    text-align: center;
}

form, section {
    background: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 20px;
    margin: 20px auto;
    max-width: 450px;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    align-content: center;
}

section.instructions {
    max-width: 800px;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    display: block;
}

label.text {
    font-size: 0.75rem;
    color: var(--text);
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: var(--card-bg);
    width: fit-content;
}

input {
    display: block;
    flex-direction: column;
    margin: 16px 0;
    padding: 10px;
    font-size: 0.75rem;
    border: 2px var(--border) solid;
    border-radius: 5px;
    background: var(--bg);
    caret-color: var(--text);
    color: var(--text);
}

input[type="checkbox"] {
    accent-color: var(--accent);
    margin: 16px;
}

button {
    background: var(--accent);
    color: white;
    border: none;
    border-radius: var(--radius);
    padding: 10px 16px;
    cursor: pointer;
    font-weight: 500;
    transition: background var(--transition);
    margin-top: 10px;
}

input:focus {
    border-color: var(--accent);
    outline: none;
}

pre {
    background: var(--bg);
    border-radius: var(--radius);
    padding: 10px;
    white-space: pre-wrap;
    font-family: monospace;
    overflow-x: auto;
    margin-top: 10px;
}

.divider {
    border-top: 2px solid var(--border);
    margin: 60px 0 40px 0;
}